body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #7a288a; /* Cor roxa */
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    color: #7a288a; /* Cor roxa */
}

.welcome-message {
    text-align: center;
    margin-bottom: 20px;
}

.welcome-image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.login-form {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.password-container {
    position: relative;
}

.password-container input {
    width: calc(100% - 40px);
}

.show-password-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.show-password-button i {
    font-size: 18px;
    color: #333;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #7a288a; /* Cor roxa */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #6c2277; /* Cor roxa mais escura */
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.forgot-password a {
    color: #7a288a;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 600px) {
    .container {
        margin: 20px auto;
        padding: 10px;
    }
    .login-form {
        padding: 10px;
    }
}

@media (max-width: 400px) {
    .container {
        width: 90%;
    }
}

.cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ddd;
}